body {
    font-family: Arial, sans-serif;
    background-image: url('../img/oceano.jpg'); /* caminho para imagem */
    background-size: cover; /* cobre toda a tela */
    background-repeat: no-repeat;
    background-position: center;
  }
  
header{
    background-image: url(../img/lixoOceano.jpg);
}

  .dica p {
    background-color: #e8f5e9;
    padding: 10px;
    margin-top: 5px;
    border-left: 4px solid #2e7d32;
    border-radius: 4px;
  }

  #lixo{
 
 height: 450px;
 width: 100%;
  }
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }